<app-navbar></app-navbar>

<div class="container">

  <div class="row my-4">
    <div class="col-12">
      <button class="btn btn-outline-primary" type="button" [routerLink]="['/']">
        <i class="fas fa-arrow-left"></i> Indicadores
      </button>
    </div>
    <div class="col-12 text-center">
      <p class="h3">{{detalleIndicador.nombre}}</p>
    </div>
  </div>

  <div class="row my-4">

    <div class="col-md-8 mx-auto" >
      <div class="card">
        <div class="card-body">

          <div class="row my-2">
            <div class="col-12">
              <h3 class="card-title text-center text-primary">
                <i class="fas fa-dollar-sign"></i> {{detalleIndicador.serie[0].valor}}
              </h3>
            </div>
          </div>

          <div class="row">
            <div class="col-6 col-md-4">
              <label class="font-weight-bold">Nombre</label>
            </div>

              <div class="col-6 col-md-8">
                <input type="text" class="form-control text-right font-weight-bold" id="nombre" placeholder="nombre indicador" [value]="detalleIndicador.nombre">
            </div>
          </div>

          <div class="row my-2">
            <div class="col-6 col-md-4">
              <label class="font-weight-bold">Fecha</label>
            </div>

              <div class="col-6 col-md-8">
                <input type="text" class="form-control text-right font-weight-bold" id="fecha" placeholder="fecha indicador" [value]="detalleIndicador.serie[0].fecha | date: 'dd-MM-yyyy'">
            </div>
          </div>

          <div class="row my-2">
            <div class="col-6 col-md-4">
              <label class="font-weight-bold">Unidad de Medida</label>
            </div>

              <div class="col-6 col-md-8">
                <input type="text" class="form-control text-right font-weight-bold" id="unidadMedida" placeholder="unidad de medida" [value]="detalleIndicador.unidad_medida">
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<app-detalle-grafico-indicador></app-detalle-grafico-indicador>
<app-footer></app-footer>
